body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
	background-color: #BBBBBB;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
}
.bodybg
{
	background-image: url('finger.svg');
}
#info {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#container {
	width		: 100%;
	height		: 100%;
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
	-webkit-user-select	: none;
	-moz-user-select	: none;
}
#sidebar {
	position	: absolute;
	top		: 40pt;
	text-align	: left;
}
.rightside {
	right	: 0pt;
	text-align	: right;
}
table input {
	height: 20pt;
	min-width: 60pt;
	font-size: 10pt;
}
table td {
	vertical-align: top;
}
#standby {
	position	: absolute;
	top: 5vh;
	left: 10vw;
	text-align	: center;
	width: 80vw;
	height: 20vh;
}
#standby input{
	font-size: 30pt;
	width: 100%;
	height: 20vh;
}